<mat-card class="login-page" [ngClass]="{'loginPageMinLengthError': email.errors?.minlength}">
  <mat-card-title class="loginTitle">Login</mat-card-title>
  <mat-card-content>

    <form class="login-form data-form" #loginForm="ngForm"  (ngSubmit)="login(loginForm,$event)">

      <mat-form-field>

        <mat-label>Email</mat-label>
        <input matInput type="email" name="email"
               ngModel [ngModelOptions]="{updateOn: 'blur'}" (ngModelChange)="onEmailChange($event)" #email="ngModel" placeholder="Email" required minlength="3" maxlength="20" email>
               <!-- pattern="[a-z]+" -->

        <mat-error *ngIf="email.errors?.required">The email is mandatory</mat-error>
        <mat-error *ngIf="email.errors?.minlength">Your email must have minimum {{email.errors?.minlength.requiredLength}} chars, 
          but it only has {{email.errors?.minlength.actualLength}}.</mat-error>
        <mat-error *ngIf="email.errors?.email">This is not a valid email.</mat-error>
        
      </mat-form-field>

      <mat-form-field>

        <mat-label>Password</mat-label>
        <input matInput type="password" name="password"
                ngModel #password="ngModel"
                placeholder="Password" required>

      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
        Login
      </button>

    </form>

    <div class="form-val">
      {{ email.value }}
    </div>

  </mat-card-content>
</mat-card>
